<!DOCTYPE html>
<html lang="en">
  <head>
    <%= stylesheet_link_tag "logs.css" %>
 </head>
 <body>
<div class="container mb-3">
  <div class="row justify-content-center">
    <div class="col-lg-7 col-md-9 col-sm-12">
<%= form_with model: @user, url: sign_up_path, data: { turbo: false } do |form| %>
 <h1 class="text-center">Sign Up</h1>
   <% if form.object.errors.any? %>
    <div class="alert alert-danger">
        <% form.object.errors.full_messages.each do |messages| %>
        <div><%= messages %></div>
        <% end %>
    </div>
    <% end %>

    <div class="form-group row mb-3 mt-4 g-2">
  <div class="col">
    <%= form.label :first_name, class: "labels" %>
    <%= form.text_field :first_name, class: "form-control" %>
  </div>
  <div class="col">
    <%= form.label :last_name, class: "labels" %>
    <%= form.text_field :last_name, class: "form-control" %>
  </div>
</div>

    <div class="form-group mb-3 mt-4">
        <%= form.label :email, class: "labels" %>
        <%= form.text_field :email, class: "form-control" %>
    </div>
    
     <div class="form-group mb-3">

        <%= form.label :password , class: "labels"%>
        <%= form.password_field :password, class: "form-control"%>
    </div>  
    
            <div class="form-group mb-3">

        <%= form.label :password_confirmation ,class: "labels"%>
        <%= form.password_field :password_confirmation, class: "form-control" %>
    </div>

      <div class="form-group">
          <%= form.submit "Sign up", class: "btn button mt-3" %>
        </div>
<% end %>
</div>
</div>
</div>
</body>
</html>