<!DOCTYPE html>
<html lang="en">
  <head>
    <%= stylesheet_link_tag "navs.css" %>
 
  </head>
  <body>
    <nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <%= link_to "OpenFLAP", root_path, class: "navbar-brand ps-1" %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav ">
          <% if Current.user %>
            <li class="nav-item">
              <%= link_to "Profile", edit_password_path, class: "nav-link m-1" %>
            </li>
            <li class="nav-item">
              <%= link_to "Home", root_path, class: "nav-link m-1" %>
            </li>
            <li class="nav-item">
              <%= link_to "Editor", topics_path, class: "nav-link m-1" %>
            </li>
            <li class="nav-item">
              <%= link_to "Exercise", "Exercise/Exercise-main.html", class: "nav-link m-1" %>
            </li>
  <%= content_tag :div, class: "dropdown" do %>
  <%= button_tag "Groups", type: "button", class: "btn btn-secondary dropdown-toggle m-1", data: { bs_toggle: "dropdown" }, aria: { expanded: "false" } %>
  <%= content_tag :ul, class: "dropdown-menu" do %>
<li>
<%= button_tag "New Group", type: "button", class: "dropdown-item", id: "newGroupButton", data: { bs_toggle: "modal", bs_target: "#exampleModal" } %>
</li>
    <li><%= button_tag "All Groups", type: "button", class: "dropdown-item" %></li>
  <% end %>
<% end %>

            <li class="nav-item">
              <%= button_to "Logout", logout_path, method: :delete, class: "btn m-1" %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "Home", root_path, class: "nav-link m-1" %>
            </li>
            <li class="nav-item">
              <%= link_to "Editor", topics_path, class: "nav-link m-1" %>
            </li>
            <li class="nav-item">
              <%= link_to "Exercise", "Exercise/Exercise-main.html", class: "nav-link m-1" %>
            </li>
          <ul class="navbar-nav">
            <%= link_to "Log In", sign_in_path, class: "btn  button m-1" %>
            <%= link_to "Sign Up", sign_up_path, class: "btn m-1" %>
        </ul>
          <% end %>
        </ul>
      </div>
      </div>
    </nav>



<div class="modal fade" id="exampleModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <%= form_with model: @group, url: groups_path, class: "needs-validation", data: { bs_toggle: "validator", bs_delay: 100 } do |form| %>
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Create Group</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <%= form.label :title, class: "form-label" %>
            <%= form.text_field :title, class: "form-control", required: true %>
            <div class="invalid-feedback">
              Please provide a valid title.
            </div>
          </div>

          <div class="mb-3">
            <%= form.label :description, class: "form-label" %>
            <%= form.text_area :description, class: "form-control", required: true %>
            <div class="invalid-feedback">
              Please provide a valid description.
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <%= form.submit 'Create Group', class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

 <script>
  var newGroupButton = document.getElementById('newGroupButton');

  if (newGroupButton) {
    newGroupButton.addEventListener('click', function(event) {
      // Add your event code here
      console.log('New Group button clicked');
    });
  // } else {
  //   console.error('New Group button not found');
  // }
  }
</script>

  </body>
</html>